*{ margin: 0; padding: 0;}
img{ cursor: pointer;}
ul,ol{ list-style: none}
input{ outline: none;}
body{ height: 2000px;}
#header{width: 900px; height: 130px; margin: 0 auto; overflow: hidden;}
.logo{ width: 230px ; height: 50px; background: url(../img/logo.png) no-repeat ; margin-top: 15px; float: left; cursor: pointer; }
.myCar{  width: 300px; height: 80px; background: url(../img/cart_step.png) no-repeat 0 -160px; float: right}
.nowLogin{ clear: both; font: 16px/20px "微软雅黑"; color: #666666;}

#content{ width: 898px; margin: 0 auto; border: 1px solid #DEDEDE;}

#box{ width: 860px; margin-left: 20px; margin-top: 10px;}
.box_ul1 {margin-top: 10px; width: auto; height: 80px;overflow: hidden; border-bottom: 1px solid #DEDEDE;}
.box_ul1 li{ width: 196px; float: left; height: 50px; position: relative; }
.box_ul1 li input{ position: absolute; left: 5px; top: 22px; }
.box_ul1 li img{ position: absolute;left: 22px;}

.box_ul2{margin-top: 10px; width: auto; height: 200px;overflow: hidden; border-bottom: 1px solid #DEDEDE;}
.box_ul2 li{ position:relative; float: left; width: 170px; height: 60px;}
.box_ul2 li input{position: absolute; left:0; top: 16px;}
.box_ul2 li img{ position: absolute;left: 20px; width: 140px; height: 40px;}

.box_ul3{margin-top: 10px; width: auto; height: 240px;overflow: hidden;}
.box_ul3 li{ position:relative; float: left; width: 170px; height: 60px;}
.box_ul3 li input{position: absolute; left:0; top: 16px;}
.box_ul3 li img{ position: absolute;left: 20px; width: 140px; height: 40px;}

#goPay{ width: 900px;height: 100px; border-bottom:1px solid #DEDEDE; overflow: hidden; margin: 0 auto;}
#goPay .goPay{ width: 100px; text-align: center; height: 50px; font:  bold 18px/50px "微软雅黑"; float: right;
color: white; background: #E14835; border-radius: 5px; cursor: pointer;}
#goPay div{ float: right; margin-top: 10px; line-height: 50px;margin-left: 10px; font-size: 14px; color: #666666;}

.footer{ width: 900px; font: 12px/20px "微软雅黑"; color: #999999; margin: 20px auto; text-align: center;}
