*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100px;
}
.swiper-container{
	height: 100%;
	width: 100%;
}
.swiper-slide{
	background: #f3eff0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.one .topWrap{
	height: 0.9rem;
	width: 100%;
	background: -webkit-linear-gradient(top,#e5376c,#a11312);
	color: white;
	text-align: center;
	position: relative;
	font-size: 0.4rem;
	line-height: 0.9rem;
	vertical-align: middle;
}
.one .topWrap .recharge{
	color: white;
	display: inline-block;
	position: absolute;
	background: #be0c0c;
	height: 0.5rem;
	width: 1rem;
	border-radius: 15px;
	border: none;
	right: 0.2rem;
	top: 0.2rem;
	outline: none;
	font-size: 0.2rem;
	line-height: 0.5rem;
}
.one .userInfo{
	height: 1.66rem;
	width: 100%;
	box-sizing: border-box;
	margin-top: 0.6rem;
	padding-left: 0.32rem;
}
.one .userInfo img{
	height: 1.66rem;
	float: left;
	font-weight: bold;
}
.one .userInfo .infowrap{
	height: 1.66rem;
	float: left;
	font-size: 0.35rem;
	color: #242424;
	line-height: 0.5rem;
	margin-left: 0.2rem;
}
.one .userInfo .infowrap p:nth-of-type(1){
	margin-top: 0.34rem;
}
.one .userInfo .infowrap p .price{
	color: #f00200;
	font-weight: 900;
}
.mainInfo{
	height: 3.64rem;
	width: 5.6rem;
	border: 1px solid #dedede;
	border-radius: 15px;
	background: white;
	margin: 0.86rem auto 0;
}
.mainInfo div{
	overflow: hidden;
	height: 0.91rem;
	width: 100%;
	border-bottom: 1px solid #DEDEDE;
	box-sizing: border-box;
	font-size: 0.35rem;
	padding-left: 0.3rem;
	line-height: 0.91rem;
}
.mainInfo div p{
	float: left;
}
.mainInfo div img{
	float: right;
	height: 0.38rem;
	width: 0.28rem;
	margin-right: 0.3rem;
	margin-top: 0.3rem;
}

 #cover{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	display: none;
}
#wrap{
	display: none;
	width: 4.72rem;
	height: 3.74rem;
	position: fixed;
	left: 0.84rem;
	top: 1.82rem;
	z-index: 3;
	background: #e8e8e8;
	border-radius: 15px;
	overflow: hidden;
}
#wrap .title{
	width: 3.7rem;
	height: 0.7rem;
	margin: 0.2rem auto 0;
	font-size: 0.3rem;
	text-align:center;
	line-height: 0.7rem;
	border-bottom: 1px solid #ababab;
}
#wrap .touxiang{
	width: 100%;
	height: 2.1rem;
	overflow: hidden;
}
#wrap .touxiang div{
	width: 1.15rem;
	height: 1.8rem;
	margin-top: 0.37rem;
	float: left;
	text-align: center;
	font-size: 0.3rem;
	font-weight: 500;
	line-height: .5rem;
}
#wrap .touxiang div:nth-last-of-type(2){
	margin-left: 0.65rem;
}
#wrap .touxiang div:nth-last-of-type(1){
	margin-left: 1rem;
}
